.btn2 {
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background-color: #393f81;
    color: white;
}

.btn2:hover {
    background-color: #39e381;
    transition: 0.5s;
}
